.home_container
{ 
  width: 100%;
  margin-bottom: 150px;
  
  
}

.home_content{
/* position: absolute;

top: 50%;
left:70%;
 transform:translate(-50%,-50%) ; 
 text-align: center; */
 width:250px;
 margin: 100px auto;
 text-align: center;
 
 
 
}


.content h2{
  font-size:48px;
  margin: 25px 0;
  
}

.content p{
  font-size: 1.5rem;
  font-weight: 200;
  text-transform: capitalize;
  color:#FCEC51;
}

.content_span
{
  display:block;
}

.home_btn
{
  
  padding: .6em .8em;
  font-size: 1em;
  font-weight: 700;
  margin-left: 1em;
  border-radius: 5px;
  background-color: #FCEC51;
  color: #08184A;
  text-decoration: none;
}

.home_btn a{
  color:#08184A;
  text-decoration: none;
}

.btn_div
{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width:800px)
{
  .home_btn
  {
    margin-bottom: 20px;
  }
  .content{
    left: 80%;
  }
  .home_content
  {
    margin-top: 200px;
  }
  .home_container{
    margin-bottom: 280px;
  }
}
  


