html{
    background-image: url("C:\Users\Nazia Beaghum\React\PortfolioWebsite\portfolioweb\public\assets\bluebg.jpg");
}

.form{
    font-size: 1.8rem;
}
.linkedln
{
  margin-left: 1.5em;
  
}


.form-elt
{
    padding:10px 5px;
    margin: .5em 0;
    width: 280px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

.form-btn
{
    font-size: 1rem;
    margin-top: .8em;
    padding: 12px 10px;
    border-radius: 8px;
    border: none;
    background-color:#FCEC51;
    
}
.form-textarea{
    height: 80px;
    width: 200px;
    border-radius: 5px;
    margin-top: 10px;
}

.mail_id
{
    display: block;
}

.chat
{
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;


}

@media (max-width:600px)
{

  .chat
  {
    display:flex;
    flex-direction: column;
  
    padding-left: 50px;
  }
    .content h2{
        font-size:3rem;
      }
      
      .content p{
        font-size: 1.5rem;
        
      } 
      .home_btn
      {
        margin-bottom: 20px;
      }
      .content{
        left: 50%;
      }

      .form
      {
        margin-top: 30px;
      }
}