
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&family=Roboto:wght@400;500;700&display=swap');

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;;

  color:#fff;
  background-image: url("C:\Users\Nazia Beaghum\React\PortfolioWebsite\portfolioweb\public\assets\bluebg.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  min-height: 100vh; 
} 

a{
  color: #fff;
}

img{
  max-width: 100%;
  display: block;
}

@media(max-width:600px)
{
body{
   background-image: url("C:\Users\Nazia Beaghum\React\PortfolioWebsite\portfolioweb\public\assets\bluebg.jpg")

  };
}